body {
  background-color: rgb(235, 235, 235);
}

h1 {
  color: navy;
  margin-left: 20px;
}
h4 {
  margin-left: 20px;
}

.activity-item {
  background-color: rgb(77, 170, 139);
  color: white;
  border-style: solid;
  border-color: blue;
}

.grid-container {
  background-color: white;
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  height: 400px;
  
}

